extends layout

block content

    h1 Do You Want to Delete This Book? 

    form(method='post', action=`/books/${book.id}/delete`)
        p
            a.button(href='/books') Cancel
        p
            input(type='submit' name='_method' value="delete")


